.root {
    -fx-background-color: #0F0F16;
}

.card {
    -fx-background-color: #12121C;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 30, 0, 0, 10);
    -fx-border-radius: 10;       
    -fx-border-color: rgba(255,0,0,0.3); 
    -fx-border-width: 2;        


}
.panel {
    -fx-background-color: #12121C;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 30, 0, 0, 10);
    -fx-border-radius: 10;       
    -fx-border-color: rgba(255,0,0,0.3); 
    -fx-border-width: 2;        


}
.context-menu {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 2);
}

.context-menu .menu-item {
    -fx-text-fill: black;   
    -fx-font-size: 14px;
    -fx-padding: 8 16 8 16;
}

.context-menu .menu-item:hover {
    -fx-background-color: #ff4c4c;
    -fx-text-fill: black;        
}

.user-button {
    -fx-background-color: #12121C;
    -fx-border-color: rgba(255,0,0,0.3); 
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 10;
    -fx-padding: 6 12 6 12;
    -fx-cursor: hand;
}


.user-label {
    -fx-text-fill: #000;
    -fx-font-size: 16px;
}

.dropdown {
    -fx-background-color: white;
    -fx-padding: 6 0 6 0;
    -fx-background-radius: 10;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0, 0, 2);
}

.dropdown-item {
    -fx-background-color: transparent;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-pref-width: 160;
}

.dropdown-item:hover {
    -fx-background-color: #f0f0f0;
}



.top-bar {
    -fx-background-color: #12121C;  
    -fx-padding: 10 20;             
    -fx-alignment: center-left;
}

.top-bar .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.navbar {
    -fx-background-color: #2C2C37; 
    -fx-padding: 10 20;
    -fx-spacing: 15;
    -fx-background-radius: 5;
}

.navbar Button {
    -fx-background-color: #2C2C37;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5;
    -fx-padding: 10 30;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 3);
}

.navbar Button:hover {
    -fx-background-color: #E63746;
    -fx-text-fill: #FFFFFF;
}

.button-secondary {
    -fx-background-color: #2C2C37;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 999;
    -fx-padding: 8 18;
}

.button-secondary:hover {
    -fx-background-color: #3b3b49;
}

.top-bar ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 3);
}

.subtitulo {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.descripcion {
    -fx-text-fill: #9B9BA8;
    -fx-font-size: 13px;
}

.label {
    -fx-text-fill: #E5E5F0;
    -fx-font-size: 13px;
}

.input {
    -fx-background-color: #1A1A23;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #5E5E69;
    -fx-padding: 8 10 8 10;
    -fx-border-color: transparent;
}

.input:focused {
    -fx-border-color: #E63746;
    -fx-border-width: 1.8;
}

.combo {
    -fx-background-color: #1A1A23;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-padding: 6 10 6 10;
}

.button-primary {
    -fx-background-color: #E63746;
    -fx-text-fill: white;
    -fx-background-radius: 999;
    -fx-padding: 8 18 8 18;
    -fx-font-weight: bold;
}

.button-primary:hover {
    -fx-background-color: #ff4f5b;
}

.button-secondary {
    -fx-background-color: #2C2C37;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 999;
    -fx-padding: 8 18 8 18;
}

.button-secondary:hover {
    -fx-background-color: #3b3b49;
}

.mensaje {
    -fx-font-size: 12px;
}

.mensaje-error {
    -fx-text-fill: #ff5555;
}

.mensaje-ok {
    -fx-text-fill: #60e760;
}
